* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: math;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.content {
    margin-top: 60px;
    background: #e5eae3 url(./assets/bgimage.jpg) no-repeat center top;
    background-size: auto;
}