* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: math;
    scroll-behavior: smooth;
}

.App {
    position: relative;
    min-height: calc(100vh - 60px);
    /* background: #e5eae3 url(./assets/bgimage.jpg) no-repeat center top; */
    background: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url(./assets/bgimage.jpg) no-repeat center top;
    background-size: cover;
    @media screen and (max-width: 1400px) {
        background-size: auto;
    }
}

button {
    cursor: pointer;
}

.content {
    margin-top: 60px;
}